<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Rides</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/navbar :: navbar(user=${user})"></div>

<div th:if="${user.getRole() == 'PASSENGER'}" class="container py-5">
  <h2 class="text-center mb-4">All Rides</h2>

  <!-- Reuse the allRidesTable.html fragment -->
  <div th:replace="fragments/allRidesTableExtended :: ridesTable(rides=${rides}, userReservations=${userReservations})"></div>

  <div class="text-center mt-4">
    <a href="/reservations/manage" class="btn btn-secondary">Show My Reservations History</a>
  </div>
</div>

<div th:if="${user.getRole() == 'CONDUCTOR'}" class="container py-5">
  <h2 class="text-center mb-4">Ride Management Dashboard</h2>
  <!-- Rides Table -->
  <div th:replace="fragments/allRidesTableConductor :: allRidesTableConductor (rides=${rides}, user=${user})"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
