<!DOCTYPE html>
<html lang="en">
<body>
<div th:fragment="ridesTable (rides, userReservations)">
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Departure Location</th>
      <th>Destination</th>
      <th>Departure Time</th>
      <th>Available Places</th>
      <th>Price per Seat</th>
      <th>Status</th>
      <th>Conductor</th>
      <th>Comments</th>
      <th>Actions</th>
      <th>Show Details</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ride, iterStat : ${rides}">
      <td th:text="${iterStat.index + 1}"></td>
      <td th:text="${ride.departureLocation}"></td>
      <td th:text="${ride.destination}"></td>
      <td th:text="${#temporals.format(ride.departureTime, 'yyyy-MM-dd HH:mm')}"></td>
      <td th:text="${ride.availablePlaces}"></td>
      <td th:text="${ride.pricePerSeat} + ' TND'"></td>
      <td th:text="${ride.status}"></td>
      <td th:text="${ride.conductor.first_name} + ' ' + ${ride.conductor.last_name}"></td>
      <td th:text="${ride.comments}"></td>
      <td style="align-content: center">
        <div th:if="${#lists.contains(userReservations, ride.id_ride)}">
          <!-- Redirect to Manage Reservations -->
          <a th:href="@{/reservations/manage(rideId=${ride.id_ride})}" class="btn btn-warning btn-sm text-nowrap">Manage Reservation</a>
        </div>
        <div th:if="${!#lists.contains(userReservations, ride.id_ride)}">

          <form th:id="'reservationForm-' + ${ride.id_ride}" th:action="@{/reservations/create}" method="post" class="mt-2">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="hidden" name="rideId" th:value="${ride.id_ride}" />
            <div class="d-flex gap-1">
              <div class="col-sm-6 text-nowrap">
                <select name="reservedPlaces" class="form-select form-select-sm" required>
                  <option th:each="num : ${#numbers.sequence(1, ride.availablePlaces)}" th:value="${num}" th:text="${num}"></option>
                </select>
              </div>
              <button type="submit" class="btn btn-success btn-sm">Submit</button>
            </div>
          </form>
        </div>
      </td>
      <td style="align-content: center">
        <a th:href="@{/rides/ride-details/{id}(id=${ride.id_ride})}" class="btn btn-secondary btn-sm text-nowrap">Show Details</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
